<label>
	<i class="fa fa-print"></i>
	Numeri di fax
</label>
<div class="ps-vsp-4"></div>
<accordion class="ps-accordion">
	<accordion-group ng-repeat="fax in faxes" class="ps-accordion-heading">
		<accordion-heading>
			{{fax.number}}
			<span class="pull-right label label-default ps-tag" ng-repeat="tag in fax.tags">
				{{tag}}
			</span>
			</span>
		</accordion-heading>
		<div class="form-group">
			<label><i class="fa fa-print"></i> Numero</label>
			<div class="ps-vsp-4"></div>
			<input type="text" class="form-control" placeholder="Numero" ng-model="fax.number">
		</div>
		<ps-fc-tags tags="fax.tags"></ps-fc-tags>
		<br />
		<ps-in-delete delete-action="delFax($index)" text="text"></ps-in-delete>
	</accordion-group>
</accordion>
<div class="ps-vsp-4"></div>
<div class="input-group">
	<input type="text" class="form-control" placeholder="Aggiungi numero" ng-model="newFax" ng-keyup="addFax($event)" />
	<span class="input-group-btn">
		<button class="btn btn-default" type="button" ng-click="addFax($event)">
			<i class="fa fa-plus"></i>
		</button>
	</span>
</div>
