<accordion class="ps-accordion">
	<accordion-group ng-repeat="phone in phones" class="ps-accordion-heading">
		<accordion-heading>
			{{phone.number}}
			<span class="pull-right label label-default ps-tag" ng-repeat="tag in phone.tags">
				{{tag}}
			</span>
			</span>
		</accordion-heading>
		<div class="form-group">
			<label><i class="fa fa-phone"></i> Numero</label>
			<div class="ps-vsp-4"></div>
			<input type="text" class="form-control" placeholder="Numero" ng-model="phone.number">
		</div>
		<ps-fc-tags tags="phone.tags"></ps-fc-tags>
		<br />
		<ps-in-delete delete-action="delPhone($index)" text="text"></ps-in-delete>
	</accordion-group>
</accordion>
<div class="ps-vsp-4"></div>
<div class="input-group">
	<input type="text" class="form-control" placeholder="Aggiungi numero" ng-model="newPhone" ng-keyup="addPhone($event)" />
	<span class="input-group-btn">
		<button class="btn btn-default" type="button" ng-click="addPhone($event)">
			<i class="fa fa-plus"></i>
		</button>
	</span>
</div>
