<label>
	<i class="fa fa-map-marker"></i>
	Indirizzi
</label>
<div class="ps-vsp-4"></div>
<accordion class="ps-accordion">
	<accordion-group ng-repeat="address in addresses" class="ps-accordion-heading">
		<accordion-heading>
			{{oneLineAddress(address)}}
			<span class="pull-right label label-default ps-tag" ng-repeat="tag in address.tags">
				{{tag}}
			</span>
		</accordion-heading>
		<div class="ps-address">
			<label>
				<i class="fa fa-map-marker"></i>
				Indirizzo
			</label>
			<div class="ps-vsp-4"></div>
			<div>
				<input type="text" class="ps-address-street form-control" placeholder="Via o piazza" ng-model="address.street">
				<input type="text" class="ps-address-number form-control" placeholder="Civico" ng-model="address.number">
			</div>
			<div class="ps-vsp-4"></div>
			<div>
				<input type="text" class="ps-address-postal-code form-control" placeholder="CAP" ng-model="address.postalCode">
				<input type="text" class="ps-address-city form-control" placeholder="Città" ng-model="address.city">
				<input type="text" class="ps-address-county form-control" placeholder="Provincia" ng-model="address.county">
			</div>
			<div class="ps-vsp-4"></div>
			<div>
				<input type="text" class="ps-address-country form-control" placeholder="Nazione" ng-model="address.country">
			</div>
			<br />
		</div>
		<ps-fc-tags tags="address.tags"></ps-fc-tags>
		<br />
		<ps-in-delete delete-action="delAddress($index)" text="text"></ps-in-delete>
	</accordion-group>
</accordion>
<div class="ps-vsp-4"></div>
<div class="input-group">
	<ps-in-address
		place="place"
		placeholder="Aggiungi indirizzo"
		input="input"
		ng-keyup="addAddress($event)"
		options="options">
	</ps-in-address>
	<span class="input-group-btn">
		<button class="btn btn-default" type="button" ng-click="addAddress($event)">
			<i class="fa fa-plus"></i>
		</button>
	</span>
</div>
