<accordion class="ps-accordion">
	<accordion-group ng-repeat="email in emails" class="ps-accordion-heading">
		<accordion-heading>
			{{email.address}}
			<span class="pull-right label label-default ps-tag" ng-repeat="tag in email.tags">
				{{tag}}
			</span>
		</accordion-heading>
		<div class="form-group">
			<label>@ Indirizzo</label>
			<div class="ps-vsp-4"></div>
			<input type="text" class="form-control" placeholder="Indirizzo" ng-model="email.address">
		</div>
		<ps-fc-tags tags="email.tags"></ps-fc-tags>
		<br />
		<ps-in-delete delete-action="delEmail($index)" text="text"></ps-in-delete>
	</accordion-group>
</accordion>
<div class="ps-vsp-4"></div>
<div class="input-group">
	<input type="text" class="form-control" placeholder="Aggiungi indirizzo email" ng-model="newEmail" ng-keyup="addEmail($event)" />
	<span class="input-group-btn">
		<button class="btn btn-default" type="button" ng-click="addEmail($event)">
			<i class="fa fa-plus"></i>
		</button>
	</span>
</div>
